 <!-- Page Header Start -->
 <div class="page-header" style="background: url(assets/img/2.jpg);">
      <div class="container">
        <div class="row">         
          <div class="col-md-12">
            <div class="breadcrumb-wrapper">
              <h2 class="page-title">{{headin}}</h2>
			</div>
          </div>
        </div>
      </div>
 </div>
    <!-- Page Header End -->
	<ul id = "myTab" class = "nav nav-tabs navigation">
     <li><a href = "/"><i class = "lnr lnr-home"></i> Home</a></li>
	 <li><a href = "/treatment"><i class = "lnr lnr-leaf"></i> Herbal Nutrition</a></li>
    <li><a href = "/relations"><i class = "lnr lnr-heart"></i> Love & Relations</a></li>
	<li><a href = "/wealth"><i class = "lnr lnr-diamond"></i> Wealth & Success</a></li>
	<li><a href = "/traditional-doctors"><i class = " lnr lnr-magic-wand"></i> Bogogo</a></li>
	<li><a href = "/dashboard"><i class = "lnr lnr-user"></i> Dashboard</a></li>
	<li><a href = "/contact"><i class = "lnr lnr-envelope"></i> Contact Us</a></li>
	
    </ul>
	
	<ul id = "myTab" class = "nav nav-tabs descNavigation">
    <li><a href = "/shopping-cart"><i class = "lnr lnr-cart"></i> Your Cart <span class = "badge">{{session.cart.totalQty}}</span></a></li>
	
    </ul>
	
	<div style="background:#E6E6FA">
		<div class="container">		
			 <div class = "formContainer">
				<h3 class="section-title"><small>{{result}}</small></h3>
				<div class="row">
					 <div class = "col-sm-12 col-md-6">
							 <img src = "assets/img/inhlaba.jpg" alt = "" class = "img-responsive" style = "border: 5px solid green; border-radius:10px">
						</div>		 
					
					 
					 <div class = "col-sm-12 col-md-6 paragraph" >	
                          <p>We are the largest and most comprehensive Muthi Store in the Eswatini [Formally known as Swaziland]- Specializing in selling Spiritual Supplies and Cultural Heritage products through our virtual store and WhatsApp order catalog, for over 4 years. We pride ourselves on prompt, courteous, reliable and knowledgeable service.</p>
						  <br>

                          <p>We cater to all types of metaphysical practitioners and their respective specialties as it may pertain to Voodoo and Hoodoo, White and Black Magic, Casting Spells, the Occult and Witchcraft. There are many spiritual masters,
						  reverends and high priests and priestesses who use our potions, charms, herbs and roots and lucky spell kits to achieve their desires. Our supplies and ingredients are of the highest quality and are tried and true.</p>
                            <br>
                      <p> We give your orders careful personal attention, as we do our absolute best to please you. No order is too big or small for us. We appreciate your business, and look forward to serving you again and again </p>
						  
						  </p>
						  
				</div>
			 </div>			
		</div>
	</div>


	<ul id = "myTab" class = "nav nav-tabs navigation">
    <li><a href = "/shopping-cart"><i class = "lnr lnr-cart"></i> Your Cart <span class = "badge">{{session.cart.totalQty}}</span></a></li>
	
    </ul>

<ul id = "myTab" class = "nav nav-tabs descNavigation">
     <li><a href = "/"><i class = "lnr lnr-home"></i> Home</a></li>
	 <li><a href = "/treatment"><i class = "lnr lnr-leaf"></i> Herbal Nutrition</a></li>
    <li><a href = "/relations"><i class = "lnr lnr-heart"></i> Love & Relations</a></li>
	<li><a href = "/wealth"><i class = "lnr lnr-diamond"></i> Wealth & Success</a></li>
	<li><a href = "/traditional-doctors"><i class = " lnr lnr-magic-wand"></i> Bogogo</a></li>
	<li><a href = "/dashboard"><i class = "lnr lnr-user"></i> Dashboard</a></li>
	<li><a href = "/contact"><i class = "lnr lnr-envelope"></i> Contact Us</a></li>
    <li><a href = "/shopping-cart"><i class = "lnr lnr-cart"></i> Your Cart <span class = "badge">{{session.cart.totalQty}}</span></a></li>
	
    </ul>
