
 <!-- Page Header Start -->
    <div class="page-header" style="background: url(assets/img/2.jpg);">
      <div class="container">
        <div class="row">         
          <div class="col-md-12">
            <div class="breadcrumb-wrapper">
              <h2 class="page-title">{{headin}}</h2>
			</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End -->
	<ul id = "myTab" class = "nav nav-tabs navigation">
		 <li><a href = "/"><i class = "lnr lnr-home"></i> Home</a></li>
		 <li class="{{herbalNutritionStatus}}"><a href = "/treatment"><i class = "lnr lnr-leaf"></i> Herbal Nutrition</a></li>
		 <li class="{{loveAffectionStatus}}"><a href = "/relations"><i class = "lnr lnr-heart"></i> Love & Relations</a></li>
		 <li class="{{wealthSuccessStatus}}"><a href = "/wealth"><i class = "lnr lnr-diamond"></i> Wealth & Success</a></li>
		 <li><a href = "/traditional-doctors"><i class = " lnr lnr-magic-wand"></i> Bogogo</a></li>
		 <li><a href = "/dashboard"><i class = "lnr lnr-user"></i> Dashboard</a></li>
		 <li><a href = "/contact"><i class = "lnr lnr-envelope"></i> Contact Us</a></li>
		 
    </ul>
	
	<ul id = "myTab" class = "nav nav-tabs descNavigation">
    <li><a href = "/shopping-cart"><i class = "lnr lnr-cart"></i> Your Cart <span class = "badge">{{session.cart.totalQty}}</span></a></li>
	
    </ul>
	
	{{#if message}}
					<div class = "modal fade" id= "myModal" tabindex = "-1" role = "dialog" aria-labelledby= "myModalLabel" aria-hidden = "true">
                    <div class= "modal-dialog">
	                     <div class="modal-content">
		                     <div class = "modal-header">
			                     <button type= "button" class = "close" data-dismiss = "modal" aria-hidden = "true">X</button>
				                 <h3 style = "color:#D3D3D3" id = "myModalLabel"><strong><span style = "text-decoration:underline">E100</span> WE NKHANYISO</strong></h3>
			                </div>
			                <div class ="modal-body">

				             <blockquote>
								<img src = "assets/img/candle.ico" align="left" style = "margin-top:0px; width:100px; hieght:100px"/>
				                 <p style = "color:#D3D3D3"> Kute sikhone kukuchumanisa naye Gogo, Khanyisa nga <span class = "label label-info">E100</span> Kuphela.
								 Ku <strong>MTN Mobile Money</strong> enombolweni letsi: <i class = "fa fa-whatsapp"></i> <strong>+268 78 127625</strong> [Eswatini Herbal Solutions]
								 <br>Amen!
								                              
				                 <small>Store Manager<cite title="Source Title"> Zwelithini D. Dlamini</small></p>
				             <blockquote>

			            </div>
		            </div>
	            </div>
            </div>
{{/if}}
	
<div style="background:#E6E6FA">
    <div class="container">
					
         <div class = "formContainer">
             <h3 class="section-title"><small>{{result}}</small></h3>
                <div class="row">
		                 <div class = "col-lg-3 col-md-4 col-sm-6 col-xm-12 col-xm-12">
						     <div class="card" style="margin-bottom:20px;">
								  <div class="card-body">
										 <h5 class="card-title"><strong>Babe Mashaba</strong></h5>
										 <p class="card-text">Title: Inyanga</p>
                                         <p class="card-text">Experience: 10 years</p>
										 <br>
										 <a href = "/t-contact"><span class = "label label-success"><i class = "fa fa-whatsapp"> <i class = "fa fa-phone"></i></i> Contact</span></a>
								  </div>
							 </div>
						 </div>
						 
						 <div class = "col-lg-3 col-md-4 col-sm-6 col-xm-12 col-xm-12">
						     <div class="card" style="margin-bottom:20px;">
								  <div class="card-body">
										 <h5 class="card-title"><strong>Babe Vilakati</strong></h5>
										 <p class="card-text">Title: Inyanga/Mthandazi</p>
										 <p class="card-text">Experience: 15 years</p>
										 <br>
										 <a href = "/t-contact"><span class = "label label-success"><i class = "fa fa-whatsapp"> <i class = "fa fa-phone"></i></i> Contact</span></a>
								  </div>
							 </div>
						 </div>
						 
				
						 
                </div>	
		 </div>
    </div>
</div>


	<ul id = "myTab" class = "nav nav-tabs navigation">
    <li><a href = "/shopping-cart"><i class = "lnr lnr-cart"></i> Your Cart <span class = "badge">{{session.cart.totalQty}}</span></a></li>
	
    </ul>

	<ul id = "myTab" class = "nav nav-tabs descNavigation">
     <li><a href = "/"><i class = "lnr lnr-home"></i> Home</a></li>
	 <li class="{{herbalNutritionStatus}}"><a href = "/treatment"><i class = "lnr lnr-leaf"></i> Herbal Nutrition</a></li>
    <li class="{{loveAffectionStatus}}"><a href = "/relations"><i class = "lnr lnr-heart"></i> Love & Relations</a></li>
	<li class="{{wealthSuccessStatus}}"><a href = "/wealth"><i class = "lnr lnr-diamond"></i> Wealth & Success</a></li>
	<li><a href = "/traditional-doctors"><i class = " lnr lnr-magic-wand"></i> Bogogo</a></li>
	<li><a href = "/dashboard"><i class = "lnr lnr-user"></i> Dashboard</a></li>
	<li><a href = "/contact"><i class = "lnr lnr-envelope"></i> Contact Us</a></li>
	<li><a href = "/shopping-cart"><i class = "lnr lnr-cart"></i> Your Cart <span class = "badge">{{session.cart.totalQty}}</span></a></li>
	<li><a href = "/{{downloadRoute}}"><span class = "label label-success"><i class = "lnr lnr-download"></i> {{download}}</span></a></li>
	
	
    </ul>





